<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="co.newco.newco_android">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".AppController"
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Activities.CompanyProfileActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".Activities.SessionListActivity"
            android:label="@string/title_activity_session_list">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                techic
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.UsersListActivity"
            android:label="@string/title_activity_attendees_list" />
        <activity
            android:name=".Activities.SessionTypeListActivity"
            android:label="@string/title_activity_session_type_list" />
        <activity
            android:name=".Activities.DirectoryActivity"
            android:label="@string/title_activity_directory"></activity>
    </application>

</manifest>
